    .bodyy {
    padding: 0px 50px 0px 20px;
    font-size: 23px;
    text-align: center;   
    }
    .text{
    padding: 60px 50px 0px;
    font-size: 25px;
    line-height: 40px;}
    .text1{
    padding: 15px 65px 40px;
    font-size: 25px;
    line-height: 40px;
    }
    a{
    display: inline-block;
    margin: 30px;
    }
    a:link {
    color: black;
    background-color: none;
    text-decoration: none;
    font-size: 20px;
        }
    a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
        }
    a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
        }
    a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
        }
    .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .container1{
    width: 63%;
    height: 550px;
    border: thick double PaleVioletRed;
    padding: 10px 10px 10px 10px; 
    margin: 10px 10px 10px 10px;
    position: relative;

    }
    .container1::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: contain;
    background-image: url('../photo/200239700976_335561.jpg');
    opacity: 0.2;
   
    } 
    .container2{
    width: 30%;
    height: 500px;
    border: thick double PaleVioletRed;
    padding: 10px 10px 10px 10px; 
    margin: 30px 10px 10px 10px;
    position: relative;
    }
    .container2::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-color: PaleVioletRed;
    opacity: 0.2;
    } 
    .container3{
    width: 240px;
    height: 300px;
    border: thick double PaleVioletRed;
    padding: 0px 10px 10px 10px; 
    margin: 100px 10px 10px 10px;
    position: relative;
    }
    .container3::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-color: PaleVioletRed;
    opacity: 0.2;
    } 